@charset "UTF-8";

body {
    background-color: lightblue;
    font: 1.2em arial, sans-serif;
}

h1 {
    font-size: 1.5em;
}

div {
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    width: auto;
    height: auto;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 10px;
}

div:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
